<div class="row">
	<div class="col-md-12 text-right margin-top-10">
		<button class="add btn btn-primary"><%= locale.add %></button>
		<button class="remove btn btn-default"><%= locale.remove %></button>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#table</th>
				<th><%= locale.category %></th>
				<th><%= locale.linkName %></th>
				<th>IP</th>
				<th>Port</th>
				<th><%= locale.login %> ID</th>
				<th><%= locale.retrieveInterval %></th>
				<th><%= locale.linkTable %></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>